tmp
*.dot
*.eps
*.png
*.pyc
*.pyo
*.tstc
*.tsto
*.so
*.pickled
.*.swp
.*.swo
tags
log_matlab
slprj
*_ert_rtw
*_grt_rtw
*delme*
curr.vim
*old*
*bak*
*autosave*
*mexa64*
mosaic
simEngine_lin_x86_64_1_3.p
*.mat
*.*~
*.sal
log.secam
S3CAMSMT
*.pwa
trials
*.log
*log*
set_src.sh
*sal_bug*
*.prof
vault
cache
emsoft_results
